<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
      <h2>Hasdrubal foundation Artwork Collection </h2>
      <ol class="breadcrumb">
          <li class="breadcrumb-item">
              <a href="index.html">Menu</a>
          </li>
          <li class="breadcrumb-item">
              <a>ArtWork Management</a>
          </li>
          <li class="breadcrumb-item active">
              <strong>ArtWork List</strong>
          </li>
      </ol>
  </div>
  <div id="firstname" class="col-sm-2">
    <div class="title-action">
        <button  class="btn btn-primary" (click)="modalVisibility1 = false">+ ArtWork</button>
    </div>
  </div>
</div>


<div class="ibox-content">
  <div class="row">

      <div class="col-sm-3">
          <div class="input-group"><input placeholder="Search" type="text" class="form-control form-control-sm"> <span class="input-group-append"> <button type="button" class="btn btn-sm btn-primary">Go!
          </button> </span></div>

      </div>
  </div>
  <div class="table-responsive">
      <table class="table table-striped">
          <thead>
          <tr>


              <th>ArtWork ID </th>
              <th>Artist ID </th>
              <th>Title </th>
              <th>Descripton</th>
              <th>Creation date</th>
              <th>Materials</th>
              <th>Support</th>
               <th>Weight</th>
               <th>Dimensions</th>
               <th>Number of elements</th>
               <th>Draw type</th>
               <th>Draw number</th>
              <th>Action</th>

          </tr>
          </thead>
          <tbody>
          <tr>
              <td><div class="icheckbox_square-green checked" style="position: relative;"><input type="checkbox" checked="" class="i-checks" name="input[]" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div></td>
              <td>Project</td>
              <td><span class="pie" style="display: none;">0.52/1.561</span><svg class="peity" height="16" width="16"><path d="M 8 8 L 8 0 A 8 8 0 0 1 14.933563796318165 11.990700825968545 Z" fill="#1ab394"></path><path d="M 8 8 L 14.933563796318165 11.990700825968545 A 8 8 0 1 1 7.999999999999998 0 Z" fill="#d7d7d7"></path></svg></td>
              <td>20%</td>
              <td>Jul 16, 2013</td>
              <td>Jul 22, 2013</td>
              <td>Jul 22, 2013</td>
              <td>Jul 22, 2013</td>
              <td>Jul 22, 2013</td>
              <td>Jul 22, 2013</td>
              <td>Jul 22, 2013</td>
              <td>Jul 22, 2013</td>

              <td class="text-right footable-visible footable-last-column">
                <div class="btn-group">
                    <button class="btn-white btn btn-xs">Edit</button>
                    <button class="btn-white btn btn-xs">Delete</button>
                </div>
            </td>
          </tr>
          <tr>
              <td><div class="icheckbox_square-green" style="position: relative;"><input type="checkbox" class="i-checks" name="input[]" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div></td>
              <td>Alpha project</td>
              <td><span class="pie" style="display: none;">6,9</span><svg class="peity" height="16" width="16"><path d="M 8 8 L 8 0 A 8 8 0 0 1 12.702282018339785 14.47213595499958 Z" fill="#1ab394"></path><path d="M 8 8 L 12.702282018339785 14.47213595499958 A 8 8 0 1 1 7.999999999999998 0 Z" fill="#d7d7d7"></path></svg></td>
              <td>40%</td>
              <td>Jul 16, 2013</td>
              <td>Jul 22, 2013</td>
              <td>Jul 22, 2013</td>
              <td>Jul 22, 2013</td>
              <td>Jul 22, 2013</td>
              <td>Jul 22, 2013</td>
              <td>Jul 22, 2013</td>
              <td>Jul 22, 2013</td>

              <td class="text-right footable-visible footable-last-column">
                <div class="btn-group">
                    <button class="btn-white btn btn-xs">Edit</button>
                    <button class="btn-white btn btn-xs">Delete</button>
                </div>
            </td>
          </tr>
          <tr>
              <td><div class="icheckbox_square-green" style="position: relative;"><input type="checkbox" class="i-checks" name="input[]" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div></td>
              <td>Betha project</td>
              <td><span class="pie" style="display: none;">3,1</span><svg class="peity" height="16" width="16"><path d="M 8 8 L 8 0 A 8 8 0 1 1 0 8.000000000000002 Z" fill="#1ab394"></path><path d="M 8 8 L 0 8.000000000000002 A 8 8 0 0 1 7.999999999999998 0 Z" fill="#d7d7d7"></path></svg></td>
              <td>75%</td>
              <td>Jul 18, 2013</td>
              <td>Jul 22, 2013</td>
              <td>Jul 22, 2013</td>
              <td>Jul 22, 2013</td>
              <td>Jul 22, 2013</td>
              <td>Jul 22, 2013</td>
              <td>Jul 22, 2013</td>
              <td>Jul 22, 2013</td>

              <td class="text-right footable-visible footable-last-column">
                <div class="btn-group">
                    <button class="btn-white btn btn-xs">Edit</button>
                    <button class="btn-white btn btn-xs">Delete</button>
                </div>
            </td>
          </tr>
          <tr>
              <td><div class="icheckbox_square-green" style="position: relative;"><input type="checkbox" class="i-checks" name="input[]" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div></td>
              <td>Gamma project</td>
              <td><span class="pie" style="display: none;">4,9</span><svg class="peity" height="16" width="16"><path d="M 8 8 L 8 0 A 8 8 0 0 1 15.48012994148332 10.836839096340286 Z" fill="#1ab394"></path><path d="M 8 8 L 15.48012994148332 10.836839096340286 A 8 8 0 1 1 7.999999999999998 0 Z" fill="#d7d7d7"></path></svg></td>
              <td>18%</td>
              <td>Jul 16, 2013</td>
              <td>Jul 22, 2013</td>
              <td>Jul 22, 2013</td>
              <td>Jul 22, 2013</td>
              <td>Jul 22, 2013</td>
              <td>Jul 22, 2013</td>
              <td>Jul 22, 2013</td>
              <td>Jul 22, 2013</td>

              <td class="text-right footable-visible footable-last-column">
                <div class="btn-group">
                    <button class="btn-white btn btn-xs">Edit</button>
                    <button class="btn-white btn btn-xs">Delete</button>
                </div>
            </td>
          </tr>
          </tbody>
      </table>
  </div>

</div>


<!--MODAL : Form Add artist-->
<div class="modal inmodal fade show" id="event-modal1" tabindex="-1" role="dialog" aria-modal="true" style="display: block;" [hidden]="modalVisibility1">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <button type="button" class="close" (click)="modalVisibility1 = true" style="padding-top: 1%;"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
          </div>
          <div class="modal-body">

                  <form>

                    <div class="form-group row" style="display: flex;"><label class="col-sm-2 col-form-label">First Name </label>

                      <div class="col-sm-10">


                          <div class="input-group" ><input type="text" placeholder="Artist First Name" class="form-control">
                          </div>
                      </div>
                  </div>
                  <div class="form-group row" style="display: flex;"><label class="col-sm-2 col-form-label">Last Name </label>

                    <div class="col-sm-10">


                        <div class="input-group" ><input type="text" placeholder="Artist Last Name" class="form-control">
                        </div>
                    </div>
                </div>

                          <div class="form-group row" style="display: flex;"><label class="col-sm-2 col-form-label">Date of birth </label>
                              <div class="col-sm-10">
                                  <div class="input-group" ><input type="date" placeholder="Artist date of birth" class="form-control"> <span class="input-group-append">  </span></div>
                              </div>
                          </div>


                          <div class="form-group row" style="display: flex;"><label class="col-sm-2 col-form-label">Place of birth </label>
                            <div class="col-sm-10">
                                <div class="input-group" ><input type="text" placeholder="Artist place of birth" class="form-control">
                                </div>
                            </div>
                          </div>
                          <div class="form-group row" style="display: flex;"><label class="col-sm-2 col-form-label">Date of death </label>
                            <div class="col-sm-10">
                                <div class="input-group" ><input type="date" placeholder="Artist date of death" class="form-control">
                                </div>
                            </div>
                          </div>
                          <div class="form-group row" style="display: flex;"><label class="col-sm-2 col-form-label">Place of death </label>
                            <div class="col-sm-10">
                                <div class="input-group" ><input type="text" placeholder="Artist Place of death" class="form-control">
                                </div>
                            </div>
                          </div>

                          <div class="form-group row" style="display: flex;"><label class="col-sm-2 col-form-label">Nationnality</label>
                            <div class="col-sm-10">
                                <div class="input-group" ><input type="text" placeholder="Artist nationnality" class="form-control">
                                </div>
                            </div>
                          </div>
                          <div class="form-group row" style="display: flex;"><label class="col-sm-2 col-form-label">Biography </label>
                            <div class="col-sm-10">
                                <div class="input-group" ><input type="text" placeholder="Artist biography" class="form-control">
                                </div>
                            </div>
                          </div>
                  </form>
          </div>

          <div class="modal-footer">
              <button type="button" class="btn btn-white" (click)="modalVisibility1 = true">Close</button>
              <button style="width: 70px;display: flex;justify-content: center" type="button" (click)="modalVisibility1 = true" class="btn btn-primary">
                <span >Save</span>

              </button>
          </div>
      </div>
  </div>
</div>
<div class="black-bg" [hidden]="modalVisibility1"></div>
